<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title class="ion-text-center">Master List</ion-title>
    <ion-buttons class="options-button"  slot="end">
      <ion-icon name="options-outline" size="large"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
  <ion-list class="nav-list">
    <ion-button fill="clear" disabled size="small">Missions</ion-button>
    <ion-button fill="clear" disabled size="small">Notes</ion-button>

    <ion-button fill="clear" disabled size="small">Request</ion-button>
  </ion-list>
</ion-header>

<ion-content >
  <ion-list>
    <div class="item-card" *ngFor="let character of (characters | async)?.results">
      <ion-card button detail style="paddingTop:30px" (click)="openDetails(character)">
        
        <ion-img [src]="character.image" [alt]="character.name" style="height:200px" ></ion-img>
        <ion-card-header>
          <ion-card-title class="ion-text-center">{{ character.name }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          
          <p>This character is {{ startsWithVowel(character.species) ? 'an' : 'a' }} {{ character.species }}. {{ character.species === 'Human' ? 'He' : 'It'}} appeared in {{ character.episode.length }} {{ character.episode.length > 1 ? 'episodes' : 'episode' }}. </p>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-list>

</ion-content>
